* {
    box-sizing: border-box;
}

.innerDivInFluid {
    width: 85%;
    margin: 0px 70px;
}

.innerDivInFluid .col h1 {
    color: #231f20;
    font-size: 64px;
    font-family: Inter, sans-serif;
    font-weight: 800;
    margin-bottom: 8px;
    padding-bottom: 20px;
}

.innerDivInFluid .col p {
    font-family: Inter, sans-serif !important;
    font-size: 24px;
    font-weight: 400 !important;
    color: #554c50;
    margin-bottom: 48px;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.cards-sec {
    padding: 60px 20px 0 !important;
    margin-left: 5px !important;
}

.card, .card-r {
    padding: 30px 20px 0;
    min-height: 340px;
    color: #231f20 !important;
    font-size: 14px;
    border-radius: 10px !important;
    border: 2px solid #231f20 !important;
    background-size: 200% 200%;
    background-image: linear-gradient(0deg, #00aeef 50%, #fff 0);
    transition: background-position 0.5s, color 0.5s ease;
}

.card-r {
    margin-right: -5px;
}

.card:hover, .card-r:hover {
    background-position: right bottom;
    color: #fff !important;
    border: 2px solid #00aeef !important;


}

.card-p {
    font-family: Inter, sans-serif !important;
    font-size: 24px;
    font-weight: 400 !important;
    color: #554c50;
    margin-top: 0px;
    margin-bottom: 1rem;
    padding: 50px 85px 48px 48px !important;
}

.card-tr {
    padding: 50px 90px 48px 85px !important;
}

.icon {
    padding: 20px;
}

.link {
    display: block;
    color: #000;
    text-decoration: none;
    margin-bottom: 5px;
}

.link:hover {
    text-decoration: underline;
    color: #00aeef;
}
/* Add this CSS */
.cards-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Optional: Adjust as needed */
}

.cards-sec .fade-up-section {
    display: flex;
}

.cards-sec .fade-up-section .cards-sec .card {
    flex: 1;
    margin-bottom: 30px; /* Optional: Adjust as needed */
}

.cards-sec .fade-up-section .cards-sec .card-r {
    flex: 1;
    margin-bottom: 30px; /* Optional: Adjust as needed */
}
