* {
    box-sizing: border-box;
}

.innerDivInFluid {
    width: 85%;
    margin: 0px 70px;
}

.innerDivInFluid div .col h1 {
    color: #231f20;
    font-size: 64px;
    font-family: Inter, sans-serif;
    font-weight: 800;
    margin-bottom: 8px;
    padding-bottom: 20px;

}

.innerDivInFluid div .col p {
    font-family: Inter, sans-serif !important;
    font-size: 24px;
    font-weight: 400 !important;
    color: #554c50;
    margin-bottom: 48px;

}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

 /* .cards-sec {
    padding: 60px 20px 0 !important;
} */

 .card {
    padding: 30px 20px 0 ;
    margin-left: 60px;
    min-height: 340px;
    color: #231f20 !important;
    font-size: 14px;
    border-radius: 10px !important;
    border: 2px solid #231f20 !important;

}
 .card-r {
    padding: 30px 20px 0 ;
    margin-right: 50px;
    min-height: 340px;
    color: #231f20 !important;
    font-size: 14px;
    border-radius: 10px !important;
    border: 2px solid #231f20 !important;

}

.card:hover {
    background-size: 200% 200%;
    background-image: linear-gradient(0deg, #00aeef 50%, #fff 0);
    transition: background-position .5s, color .5s ease;
    transition: .5s;
    color: #00aeef;
    background-image: linear-gradient(0deg, #00aeef 50%, #fff 0);
    transition: background-position .5s, color .5s ease;
} 

.card-p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: Inter, sans-serif !important;
    font-weight: 400 !important;
    text-align: center !important;
}
.card-p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: Inter, sans-serif !important;
    font-weight: 400 !important;
    text-align: center !important;
}

.card-p {
    font-family: Inter, sans-serif !important;
    font-size: 24px;
    font-weight: 400 !important;
    color: #554c50;
    margin-top: 0px;
    margin-bottom: 1rem;
    padding: 50px 85px 48px 48px !important;
}
.card-tr {
    font-family: Inter, sans-serif !important;
    font-size: 24px;
    font-weight: 400 !important;
    color: #554c50;
    margin-top: 0px;
    margin-bottom: 1rem;
    padding: 50px 48px 48px 85px !important;
}
.icon {
    padding: 20px;
}